:root {
  // primary
  --primary: #226CFF;
  --primary-ultra-low: #EFF5FF;
  --primary-lowest: #DAE6FF;
  --primary-lower: #C6D9FF;
  --primary-low: #AEC9FF;
  --primary-mid: #8CB2FF;
  --primary-high: #5991FF;
  --primary-higher: #1D5BD6;
  --primary-highest: #1749AD;
  --primary-ultra-high: #0C275C;
  // on_primary
  --on-primary: #E7EFFF;
  --on-primary-ultra-low: #FFF;
  --on-primary-lowest: #C6D9FF;
  --on-primary-lower: #AEC9FF;
  --on-primary-low: #8CB2FF;
  --on-primary-mid: #5991FF;
  --on-primary-high: #1D5BD6;
  --on-primary-higher: #1749AD;
  --on-primary-highest: #123885;
  --on-primary-ultra-high: #091939;
  // surface
  --surface: #F2F4F6;
  --surface-ultra-low: #FFF;
  --surface-lowest: #FAFBFB;
  --surface-lower: #F6F7F8;
  --surface-low: #E9ECEF;
  --surface-mid: #C9CDD4;
  --surface-high: #B0B6BF;
  --surface-higher: #979EA8;
  --surface-highest: #7F858F;
  --surface-ultra-high: #2C2F33;
  // on_surface
  --on-surface: #676C75;
  --on-surface-ultra-low: #FFF;
  --on-surface-lowest: #E9ECEF;
  --on-surface-lower: #D5D8DE;
  --on-surface-low: #C9CDD4;
  --on-surface-mid: #B0B6BF;
  --on-surface-high: #979EA8;
  --on-surface-higher: #51565E;
  --on-surface-highest: #3E4247;
  --on-surface-ultra-high: #222;
  // outline
  --outline: #E9ECEF;
  --outline-ultra-low: #FFF;
  --outline-lowest: #F2F4F6;
  --outline-lower: #DFE3E8;
  --outline-low: #D5D8DE;
  --outline-mid: #C9CDD4;
  --outline-high: #979EA8;
  --outline-higher: #676C75;
  --outline-highest: #2C2F33;
  --outline-ultra-high: #222;
  // transparency
  --transparency: rgba(55, 93, 137, 0.05);
  --transparency-lower: rgba(90, 106, 138, 0.10);
  --transparency-low: rgba(77, 97, 137, 0.13);
  --transparency-mid: rgba(90, 105, 138, 0.20);
  --transparency-high: rgba(91, 103, 133, 0.26);
  --transparency-higher: rgba(100, 109, 129, 0.34);
  // red
  --red: #FF334B;
  --red-lowest: #FFF;
  --red-lower: #FFEDEF;
  --red-low: #FFD2D7;
  --red-mid: #FFA9B3;
  --red-high: #FF586B;
  --red-higher: #DB2C40;
  --red-highest: #911D2B;
  // on_red
  --on-red: #FFEDEF;
  --on-red-lowest: #FFF;
  --on-red-lower: #FFBDC5;
  --on-red-low: #FF586B;
  --on-red-mid: #DB2C40;
  --on-red-high: #911D2B;
  --on-red-higher: #410C13;
  --on-red-highest: #222;
  // orange
  --orange: #FAA52E;
  --orange-lowest: #FFF;
  --orange-lower: #FFF7EC;
  --orange-low: #FEEBD1;
  --orange-mid: #FDD9A7;
  --orange-high: #FBB554;
  --orange-higher: #D78E28;
  --orange-highest: #8E5E1A;
  // on_orange
  --on-orange: #FFF7EC;
  --on-orange-lowest: #FFF;
  --on-orange-lower: #FDE2BC;
  --on-orange-low: #FBB554;
  --on-orange-mid: #D78E28;
  --on-orange-high: #8E5E1A;
  --on-orange-higher: #402A0B;
  --on-orange-highest: #222;
  // yellow
  --yellow: #FFD500;
  --yellow-lowest: #FFF;
  --yellow-lower: #FFFCED;
  --yellow-low: #FFF8D4;
  --yellow-mid: #FFF0A1;
  --yellow-high: #FFE040;
  --yellow-higher: #D6B300;
  --yellow-highest: #856F00;
  // on_yellow
  --on-yellow: #FFFCED;
  --on-yellow-lowest: #FFF;
  --on-yellow-lower: #FFF4BD;
  --on-yellow-low: #FFE040;
  --on-yellow-mid: #D6B300;
  --on-yellow-high: #856F00;
  --on-yellow-higher: #282200;
  --on-yellow-highest: #222;
  // green
  --green: #22BA4F;
  --green-lowest: #FFF;
  --green-lower: #EBF9EF;
  --green-low: #CEF0D8;
  --green-mid: #A2E2B5;
  --green-high: #4AC66F;
  --green-higher: #1DA044;
  --green-highest: #136A2D;
  //on_green
  --on-green: #EBF9EF;
  --on-green-lowest: #FFF;
  --on-green-lower: #B8E9C6;
  --on-green-low: #4AC66F;
  --on-green-mid: #1DA044;
  --on-green-high: #136A2D;
  --on-green-higher: #06210E;
  --on-green-highest: #222;
  // teal
  --teal: #00C7BE;
  --teal-lowest: #00C7BE;
  --teal-lower: #EBFBFA;
  --teal-low: #D1F5F4;
  --teal-mid: #8AE5E1;
  --teal-high: #33D2CB;
  --teal-higher: #00B5AD;
  --teal-highest: #006D69;
  // on_teal
  --on-teal: #EBFBFA;
  --on-teal-lowest: #FFF;
  --on-teal-lower: #B0EEEB;
  --on-teal-low: #33D2CB;
  --on-teal-mid: #00B5AD;
  --on-teal-high: #006D69;
  --on-teal-higher: #00201F;
  --on-teal-highest: #222;
  // cyan
  --cyan: #0FBAF0;
  --cyan-lowest: #FFF;
  --cyan-lower: #E9F9FE;
  --cyan-low: #CAF0FC;
  --cyan-mid: #9AE2F9;
  --cyan-high: #3AC6F3;
  --cyan-higher: #0DA0CE;
  --cyan-highest: #096A88;
  // on_cyan  
  --on-cyan: #E9F9FE;
  --on-cyan-lowest: #FFF;
  --on-cyan-lower: #B2E9FA;
  --on-cyan-low: #3AC6F3;
  --on-cyan-mid: #0DA0CE;
  --on-cyan-high: #096A88;
  --on-cyan-higher: #032D3B;
  --on-cyan-highest: #222;
  // blue
  --blue: #4270ED;
  --blue-lowest: #FFF;
  --blue-lower: #EEF2FD;
  --blue-low: #D5E0FB;
  --blue-mid: #B0C3F7;
  --blue-high: #648AF0;
  --blue-higher: #3960CC;
  --blue-highest: #264087;
  // on_blue
  --on-blue: #EEF2FD;
  --on-blue-lowest: #FFF;
  --on-blue-lower: #C2D1F9;
  --on-blue-low: #648AF0;
  --on-blue-mid: #3960CC;
  --on-blue-high: #264087;
  --on-blue-higher: #0F1B39;
  --on-blue-highest: #222;
  // purple
  --purple: #924BFF;
  --purple-lowest: #FFF;
  --purple-lower: #F5EDFF;
  --purple-low: #EBD9FF;
  --purple-mid: #D4B8FF;
  --purple-high: #AD75FF;
  --purple-higher: #7D3DE0;
  --purple-highest: #50298C;
  // on_purple
  --on-purple: #F5EDFF;
  --on-purple-lowest: #FFF;
  --on-purple-lower: #DEC9FF;
  --on-purple-low: #AD75FF;
  --on-purple-mid: #7D3DE0;
  --on-purple-high: #50298C;
  --on-purple-higher: #1F1038;
  --on-purple-highest: #222;
  // violet
  --violet: #DE36B9;
  --violet-lowest: #FFF;
  --violet-lower: #FDF1FA;
  --violet-low: #F9DDF3;
  --violet-mid: #F3B5E5;
  --violet-high: #E668CB;
  --violet-higher: #BA2D9B;
  --violet-highest: #741C60;
  // on_violet
  --on-violet: #FDF1FA;
  --on-violet-lowest: #FFF;
  --on-violet-lower: #F6CBED;
  --on-violet-low: #E668CB;
  --on-violet-mid: #BA2D9B;
  --on-violet-high: #741C60;
  --on-violet-higher: #1C0618;
  --on-violet-highest: #222;
  // opacity
  --opacity-0: rgba(255, 255, 255, 0.00);
  --opacity-light-40: rgba(255, 255, 255, 0.4);
  --opacity-light-60: rgba(255, 255, 255, 0.6);
  --opacity-light-80: rgba(255, 255, 255, 0.8);
}