// ----------------------------------- Typography ------------------------------------------------------------
//
//
// -----------------------------------------------------------------------------------------------------

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

@mixin typo($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

.display {
  &--lg {
    @include typo(44px, $fw-bold );
  }

  &--md {
    @include typo(30px, $fw-bold );
  }

  &--sm {
    @include typo(26px, $fw-bold );
  }
}

.headline {
  &--md {
    @include typo(28px, $fw-bold);
  }

  &--sm {
    @include typo(24px, $fw-bold);
  }
}

.title {
  &--lg {
    @include typo(20px, $fw-bold);
  }

  &--md {
    @include typo(18px, $fw-bold);
  }

  &--sm {
    @include typo(16px, $fw-bold);
  }

  &--xs {
    @include typo(14px, $fw-bold);
  }
}

.bodyBold {
  &--xxl {
    @include typo(18px, $fw-bold);
  }

  &--lg {
    @include typo(15px, $fw-bold);
  }

  &--md {
    @include typo(14px, $fw-bold);
  }
}

.body {
  &--xxl {
    @include typo(18px, $fw-regular);
  }

  &--xl {
    @include typo(16px, $fw-regular);
  }

  &--lg {
    @include typo(15px, $fw-regular);
  }

  &--md {
    @include typo(14px, $fw-regular);
  }

  &--sm {
    @include typo(13px, $fw-regular);
  }

  &--xs {
    @include typo(12px, $fw-regular);
  }
}

.labelBold {
  &--md {
    @include typo(14px, $fw-bold);
  }
}

.label {
  &--xl {
    @include typo(16px, $fw-medium);
  }

  &--lg {
    @include typo(15px, $fw-medium);
  }

  &--md {
    @include typo(14px, $fw-medium);
  }

  &--sm {
    @include typo(13px, $fw-medium);
  }

  &--xs {
    @include typo(12px, $fw-medium);
  }
}

.caption {
  &--md {
    @include typo(12px, $fw-regular);
  }

  &--sm {
    @include typo(11px, $fw-regular);
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 1~6줄 (필요하면 숫자 늘리면 됨)
@for $i from 1 through 6 {
  .line-clamp-#{$i} {
    @extend .line-clamp;
    line-clamp: #{$i};
    -webkit-line-clamp: #{$i};
  }
}